* {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-style: normal;
}


.card {
    height: 500px;
    display: flex;
    align-items: center;
    // flex-direction: column;
    border: 2px solid grey;
}

.card-content {
    margin-top: auto;
}

.card-image {
align-content: center;
}

.logo-emoji {
    margin: 0 10px;
}

.card-header-title {
    border: 2px solid grey;
    margin-left: 2px;
    border-radius: 5px;
}

.form-link {
    margin-left: 3px;
}

span.logout {
    cursor: pointer;
}

section.section {
    min-height: calc(100vh - 11.25rem);
}

.hero{
    background-image: url("../images/Home-background.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    // -webkit-filter: brightness(0.8);
    // filter: brightness(0.8);
}

.amiibo{
    background-color: none;
}


#hometitle {
    color: hsl(0, 0%, 0%);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

#homesubtitle {
    color: hsl(0, 0%, 0%);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.anything:hover{
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgb(255, 255, 255) 0%, rgb(255, 255, 255));
border-radius: 5px;
}

#searchBar {
    margin-bottom: 50px;
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$box-padding: 1rem;








// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/

// ? Import bulma, all customizations should live above this line.
@import "../../node_modules/bulma/bulma.sass";